@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .btn-primary {
      @apply flex flex-row bg-periwinkle w-full justify-center rounded-full py-1.5 
      px-2.5 text-night font-medium text-lg md:text-xl hover:bg-dark-periwinkle;
    }
  }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #141414;
  -webkit-text-fill-color: #fffeec;
  -webkit-box-shadow: 0 0 0px 1000px #141414 inset;
  box-shadow: 0 0 0px 1000px #141414 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
